@import "bootstrap";

//** general formatting **
aside span, .content {
	display: block;
}

//** header **
#logo {
	display: block;
	float: left;
	margin-top: 10px;
}

// ** mp style **
.timestamp {
	font-size: 12px;
	color: #bbb;
}

//** body **

body {
	//padding-top: 50px;
}

.center {
	text-align: center;
}

//** footer **
footer {
	border-top: 1px solid #eaeaea;
	//margin-top: 10px;
}

footer p {
	float: left;
}
footer ul {
	float: right;
}

footer ul li {
	float: left;
	margin-left: 10px;
	list-style: none;
}

footer .name {
	color: #ddd;
}
//************